
<div style="background: #ffffff; text-align: center;">
<h2>プロフィール</h2>
<p>＿人人人人人人人人人人＿</p>
 <p>       ＞　書くことないです　＜</p>
   <p>     ￣Y^Y^Y^Y^Y^Y^Y^Y^Y￣</p>
<h4>Twitter</h4>
<a href="https://twitter.com/0_a_e">
<button mat-mini-fab color="primary" aria-label="GO!">
        <mat-icon>call_made</mat-icon>
      </button>
    </a>
    <h4>Qiita</h4>
    <a href="https://qiita.com/Orangelinux">
    <button mat-mini-fab color="primary" aria-label="GO!">
            <mat-icon>call_made</mat-icon>
          </button>
        </a>
        <h4>Github</h4>
        <a href="https://github.com/orangelinux">
        <button mat-mini-fab color="primary" aria-label="GO!">
                <mat-icon>call_made</mat-icon>
              </button>
            </a>
    <h2>お問い合わせ</h2>
<p style="color:gray;">5秒経っても何も表示されないときはリロードしてください。</p>
<iframe style="position: relative; width: 90%;" src="https://docs.google.com/forms/d/e/1FAIpQLScSZSz3B68Pt8sVN_auml5JQYMygPPKFQBJPO-99I041wszQA/viewform?embedded=true" frameborder="0" marginheight="0" height="740" marginwidth="0">読み込んでいます…</iframe>
</div>