<style>


footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

#clickFooter footer:hover {
  background-color: #ccc;
  cursor: pointer;
}

#btmFooter {
  align-self: flex-end;
}

#clickFooter {
  position: relative;
}


.top1bar {
background: linear-gradient(-135deg, #6DC3C7, #2E7CDC,#250ac1,#ffffff);
background-size: 600% 600%;
animation: gradient 6s infinite;
}
.icon:hover {
animation: iconanim3 0.4s infinite;
animation-iteration-count: 1;
}
.icon:active {
  animation: iconanim 0.5s infinite;
  animation-iteration-count: 1;
}
@keyframes gradient {
0%{background-position:0% 50%}
50%{background-position:100% 100%}
100%{background-position:0% 50%}
}
@keyframes iconanim {
0%{transform:scale(1)}
50%{transform:scale(0.9)}
100%{transform: scale(1)}
}
@keyframes iconanim3 {
0%{transform:scale(1)}
50%{transform:scale(1.05)}
100%{transform: scale(1)}
}

@keyframes iconanim2 {
0%{transform:scale(1);
transform: rotate(0deg);
}
/*50%{transform:scale(1.05);
} */
100%{transform: scale(1);
transform:rotate(360deg);
}
}
</Style>
<mat-toolbar class="top1bar">
 <mat-toolbar-row>
  <img src="assets/927lwvjo.jpg" class="icon" [matMenuTriggerFor]="appMenu" width="50" style="border-radius: 50px;" height="50">
  <mat-menu #appMenu="matMenu">
      <a href="/" mat-menu-item>ホーム</a>
      <a href="https://twitter.com/0_a_e" mat-menu-item>Twitter</a>
    </mat-menu>
</mat-toolbar-row> 
</mat-toolbar>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
    </a>
  </nav>
 <!---       <mat-tab label="One">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Two">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab> -->
    <!--
    <mat-toolbar color="primary">
        <span> Angular Material App With Tab and Routing </span>
        <span class="example-fill-remaining-space"></span>  
        </mat-toolbar> 
<nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    
    </a>  </nav>
  -->
    <router-outlet></router-outlet>
    <footer class="md-padding">
        <div id="btmFooter" flex>
          <p>このページの作成者は(twitter)@0_a_eです。ページをコピーし、ユーザーを意図的に騙す行為は禁じます。<a href="https://github.com/orangelinux/Portfolio" mat-button color="primary">ソースコードはこちら。</a></p>
        </div>
      </footer>
