<style>


footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

#clickFooter footer:hover {
  background-color: #ccc;
  cursor: pointer;
}

#btmFooter {
  align-self: flex-end;
}

#clickFooter {
  position: relative;
}


.top1bar {
background: linear-gradient(-135deg, #6DC3C7, #2E7CDC);
background-size: 600% 600%;
animation: gradient 5s infinite;
}

@keyframes gradient {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
</Style>
<mat-toolbar class="top1bar">
 <mat-toolbar-row>
  <img src="assets/927lwvjo.jpg" width="50" style="border-radius: 50px;" height="50">
  </mat-toolbar-row> 
</mat-toolbar>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
    </a>
  </nav>
 <!---       <mat-tab label="One">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Two">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab> -->
    <!--
    <mat-toolbar color="primary">
        <span> Angular Material App With Tab and Routing </span>
        <span class="example-fill-remaining-space"></span>  
        </mat-toolbar> 
<nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    
    </a>  </nav>
  -->
    <router-outlet></router-outlet>
    <footer class="md-padding">
        <div id="btmFooter" flex>
          <p>このページの作成者は(twitter)@0_a_eです。ページをコピーし、ユーザーを意図的に騙す行為は禁じます。また、<a style="color:black;" href="https://github.com/orangelinux/Portfolio" mat-button color="primary">ソースコードは公開されています。</a></p>
        </div>
      </footer>
