<style>
    .spacer {
    position: relative;
    height: 200px;
    width: 100%;
}
.mp {
    position: relative;
    height: 15px;
    width: 100%;
}
</style>
<mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"><img src="assets/serenelinux.png" width="50px" height="50px"></div>
          <mat-card-title>Serene forum</mat-card-title>
          <mat-card-subtitle>ダウン中です。</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
  serenelinuxの公式フォーラムです。
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button disabled>ジャンプ</button>
        </mat-card-actions>
    </mat-card>
    <div class="mp"></div>
      <mat-card class="example-card">
            <mat-card-header>
                    <div mat-card-avatar class="example-header-image"><img src="assets/kisama.png" width="48px" height="48px"></div>
              <mat-card-title>怪しい日本語ジェネレーター</mat-card-title>
              <mat-card-subtitle>ダウン中です。</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                貴様正日本語極度変換的誤日本語！
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button disabled>ジャンプ</button>
            </mat-card-actions>

          </mat-card>
          <div class="mp"></div>
          <mat-card class="example-card">
                <mat-card-header>
                        <div mat-card-avatar class="example-header-image"><img src="assets/yadoicon.jpg" width="50px" height="50px"></div>
                  <mat-card-title>オカヤドカリ水槽監視システム</mat-card-title>
                  <mat-card-subtitle>オカヤドカリの水槽の湿度、温度、土中水分をモニタリングします。</mat-card-subtitle>
                </mat-card-header>
                <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                <mat-card-content>
                  <p>
 オカヤドカリ水槽の状態をWebから確認できます。温度、湿度、水分に現在対応しています。ライブカメラは停止中です。
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <a style="color: gray; background: #fff;" href="http://orangelinuxvpn.softether.net/yadokari.php"><button mat-button>ジャンプ</button></a>
                </mat-card-actions>
              </mat-card>