
<style>
    * {
    text-align: center;
    }
    .spacer {
    position: relative;
    height: 200px;
    width: 100%;
    };
    .full {
  height: 100%;
}
</style>
<div class="spacer"></div>
<div class="full">
<ngx-typed-js [strings]="['HELLOwor..(  ՞ةڼ◔)ﾌｫﾝﾀﾞｵﾂﾝﾎﾞｮﾉ…','三└(┐卍^o^)卍ﾄﾞｩﾙﾙﾙﾙﾙ卍', 'にゃーん']" [showCursor]="false" [backSpeed]="30" [typeSpeed]="30" [shuffle]="true" [loop]="true">
<h1 style="text-align: center; font-size: 3rem; position: relative;" class="typing"></h1>
</ngx-typed-js>
</div>
<div class="spacer"></div>